html{
    background-color:white;
}

header {
    background-color: whitesmoke;
    }

.math{
    color:white;
}

nav{
    background-color: whitesmoke;
    }


.couleur-claire{color:#c9ecdf;}
.couleur-fonce{color: cadetblue}

h1 {        
    color: cadetblue;
    background-color: whitesmoke;
}

footer{
    color:grey;
    background-color: whitesmoke;
    padding: 1px;
}