.couleur-peps{color:#FFA372;}
.couleur-fonce{color: #475a93}
.couleur-gris{color:grey}
.couleur-white{color:white}

/* Navbar */

.navbar{
    display: block;
    background-color:#FFA372;
    height:60px;
    width:100%;
    position: fixed;
}

.nav-liste{
    position:fixed;
    overflow: hidden;
}
.navbar li{
    float: left;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 15px;
}

.navbar li a {
    display: block;
    color: #475a93;
    text-align: center;
    padding: 0.7rem 1rem;
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
  }
.navbar li a:hover{
    font-weight: bold; 
    color: white;   
}


/* Accueil*/

#dia1{
    height:400px;
}
.flexbox{
    display:flex;
    margin-left:15%;
    margin-top:10%;
    margin-bottom: 10%;
} 
.intro{
    flex:1;
    font-size:2rem;
}
.intro h1{
    font-size: 4rem;
}
.intro p {
    margin-top:5%;
    margin-bottom:5%;
    margin-right: 10%;
}
.intro-image{
    flex:1.5;
}
.bouton-lien {
    background-color: #FFA372;
    border-radius: 5px;
    padding: 5px 15px;
    margin:10px 10px 0px 0px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    cursor:default;
  }
.bouton-lien:hover{
    color: #475a93;
}



/* 4GT Menu*/

.menu{
    display:grid;
    width:60%;
    margin-left:20%;
    margin-bottom: 40px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px;
    height:400px;
}

.annee{
    font-size: 40px;
    text-align:left;
    margin-left: 20%;
    padding:20px 10px;
    color:#475a93;
}

.case{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #475a93;
    color:white;
    padding:15px;
    border-radius: 20%;
    cursor: pointer;
}
.case:hover{
    background-color: #FFA372;
}
.case > a {
    text-decoration: none;
}

a {
    text-decoration: none;
}
.lien{
    color:white;
}




/* 5GT Menu*/

#dia2, #dia4{
    background-color:#FFA372;
    height: 550px;
}
.menu-8items{
    display:grid;
    width:60%;
    margin-left:20%;
    margin-bottom: 40px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px;
    height:400px;
}


/* Footer*/

footer{
    text-align: center;
    font-size: 0.8rem;
}

@media(max-width:600px){
    h1{
        font-size: 2rem;
    }

    footer{
        font-size:0.5rem;
    }
}
