header {
    padding: 5px 100px;
    text-align: center;
    }


h1{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 50px;
    text-align: center;
}

nav ul {
    padding: 5px;
    }

nav li {
    list-style: none;
    display: inline;
    padding: 10px;
    }

img{
    margin-top: 20px;
}

#boxMenu{
    height:500px;
    width:100%;
    background-color: #c9ecdf;
}
#boxannee4gt, #boxannee5gt6, #boxannee6gt6{
    font-size: 50px;
    width:50%;
}
#boxannee4gt {
    padding-top: 50px;
    margin-bottom: 20px;
    padding-left: 15%;
}
#boxannee5gt6{
    padding-left: 60%;
    padding-top: 40px;
}
#boxannee6gt6{
    padding-top: 50px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 15px;
}
#boxchapitre4gt, #boxchapitre5gt6, #boxchapitre6gt6{    
    height:160px;
    width:50%;
    padding-top: 15px;
    background-color: white;
}
#boxchapitre4gt {
    margin-left: 260px;
    margin-top: -120px;
}

#boxchapitre5gt6{
    margin-top: -130px;
    margin-left: 30px;
}

#boxchapitre6gt6{
    margin-left: 260px;
    margin-top: -150px;
}

li{
    list-style: none;
}

footer{
    text-align: center;
}
