header {
    text-align: center;
    width:100%;
    height:160px;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none; /* lien non souligné*/
}
h1{
    font-size: 50px;
    text-align: center;
}

nav ul {
    padding: 5px;
    }

nav li {
    list-style: none;
    display: inline;
    padding: 10px;
    }

img{
    margin-left:15%;
    margin-top: 30px;
    margin-bottom: 20px;
    width:70%;
    object-fit: cover; /*Image s'adapte à la place, ne se déforme pas*/
}

footer{
    text-align: center;
}
